.button {
  width: 20px;
  height: 20px;
  background-image: url('../../icons/delete-button.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
  margin-left: 10px;
  padding-bottom: 3px;
}
