.Contact {
  width: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px rgba(44, 23, 69, 0.4) solid;
}

.ContactInfo {
  max-width: 250px;
}

.Button {
  width: 20px;
  height: 20px;
  background-image: url('../../icons/delete-button.svg');
  background-color: #ffffff;
  background-repeat: no-repeat;
  border: none;
}
