.App {
  width: 270px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
}

.Phonebook {
  display: block;
  font-family: 'Pacifico', serif;
  color: #2c1745;
}

.Contacts {
  display: block;
  font-family: 'Pacifico', serif;
  color: #2c1745;
}
