.Filter {
  width: 270px;
  margin-top: 18px;
  margin-bottom: 6px;
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.Caption {
  display: flex;
  align-items: center;
  height: 24px;
}

.Input {
  width: 165px;
  padding-left: 5px;
  border: 2px rgba(44, 23, 69, 0.4) solid;
  border-radius: 4px;
}
