.Filter {
  width: 266px;
  display: flex;
  justify-content: space-between;
}

.Caption {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.Input {
  border: 2px rgba(44, 23, 69, 0.4) solid;
  border-radius: 4px;
}
