.Alert {
  width: 200px;
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #d9645e;
  color: #ffffff;
  border-radius: 6px;
}

.Text {
  display: flex;
  justify-content: center;
}
