.Form {
  width: 270px;
  margin-top: 18px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
}

.Label {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.Caption {
  display: flex;
  align-items: center;
  width: 100px;
  height: 24px;
}

.Input {
  width: 165px;
  padding-left: 5px;
  border: 2px rgba(44, 23, 69, 0.4) solid;
  border-radius: 4px;
  font-family: 'Ubuntu', sans-serif;
}

.Button {
  background: #d9645e;
  background: linear-gradient(#e47959, #b4495e);
  border: solid 1px #732a5a;
  box-shadow: inset 0 0 0 1px #d67974;
  color: #ffffff;
  border-radius: 4px;
  font: normal 16px Ubuntu, sans-serif;
  margin: 0 auto;
  margin-top: 12px;
  padding: 4px 20px 5px;
  text-align: center;
  cursor: pointer;
}

.Button:focus {
  outline: none;
}

.Button:active {
  background: #b4495e;
  background: linear-gradient(#732a5a, #b4495e);
  border: solid 1px #2c1745;
  box-shadow: inset 0 10px 15px 0 #b65c6e;
  top: 2px;
}

@media (min-width: 942px) {
  .Button:hover {
    background: #b4495e;
    background: linear-gradient(#732a5a, #b4495e);
    border: solid 1px #2c1745;
    box-shadow: inset 0 0 0 1px #b65c6e;
  }
}
