.form {
  width: 400px;
  display: flex;
  flex-flow: wrap column;
  justify-content: center;
  padding-bottom: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}

.label {
  display: flex;
  margin-bottom: 20px;
}

.caption {
  display: block;
  width: 100px;
}

.input {
  border: 2px rgba(44, 23, 69, 0.4) solid;
  border-radius: 4px;
}

.button {
  margin: 0 auto;
  padding: 4px 20px 5px;
  border: 2px #e3e694 solid;
  border-radius: 4px;
  background-color: #e3e694;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
}
