.enter {
  opacity: 0;
  transition: 1000ms;
}

.enterActive {
  opacity: 1;
  transition: opacity 250ms ease-in-out;
}

.exit {
  opacity: 1;
  transition: 1000ms;
}

.exitActive {
  opacity: 0;
  transition: opacity 250ms ease-in-out;
}
